@model IEnumerable<AEBSystem.Core.Models.getAirmenAll>

<div class="row wrapper border-bottom white-bg page-heading">

    @{
        ViewBag.Title = "Airmen Informations";
    }

    <h2><strong>Search Informations</strong></h2>



</div>

<div class="wrapper wrapper-content animated fadeInRight">

   
    <div class="ibox-content">
        @using (Html.BeginForm("Index", "TRTracking", FormMethod.Get))
        {

            <div class="row">
                <div class="col-sm-6">
                    
                    <h3><u>@Html.ActionLink("Go to Test Report List", "ViewApplications")</u></h3>
                    
                </div>
                <div class="col-sm-6">

                    <div class="input-group">
                        @*<input type="text" placeholder="Search" class="input-sm form-control"/>*@
                        @Html.TextBox("search", null, new { @class = "input-sm form-control", @placeholder = "Search PEL or Fullname"})<span class="input-group-btn">
                            <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary" />
                        </span>
                    </div>
                </div>
            </div>
        }
        <hr />
        <table class="table  table-striped">
            <tr>
                <th>Actions</th>
                <th>
                    @Html.DisplayNameFor(model => model.PEL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirmenType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Airmen_Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Loc)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                       
                        @Html.ActionLink("Details", "Initial",  new { Id = item.recid, Loc = item.Loc.Trim()}, new { @class = "btn btn-sm btn-success", @role = "button" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PEL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirmenType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Airmen_Desc)
                    </td>
                    <td>@{
                        var cssClass = "";
                        if (item.Loc.Contains("MNL"))
                        {
                            cssClass = "label label-success";
                        }
                        else if (item.Loc.Contains("NLA"))
                        {
                            cssClass = "label label-primary";
                        }
                        else if (item.Loc.Contains("VA"))
                        {
                            cssClass = "label label-warning";
                        }
                        else
                        {
                            cssClass = "label label-danger";
                        }
                        <span class="@cssClass">@Html.DisplayFor(modelItem => item.Loc)</span>
                    }


                       
                    </td>
                   
                </tr>
            }

        </table>
    </div>
</div>