@model IEnumerable<AEBSystem.Core.ViewModels.AirmenViewModel>


<div class="row wrapper border-bottom white-bg page-heading">
   
        @{
            ViewBag.Title = "Airmen Informations";
        }
    
    <h2><strong>Airmen Informations</strong></h2>
   

    <ol class="breadcrumb">
       
        <li>
            <a>TR Traking</a>
        </li>
        <li class="active">
            <strong>Index</strong>
        </li>
    </ol>

    
</div>
 
    <div class="wrapper wrapper-content animated fadeInRight">
       
        @using (Html.BeginForm("Index", "TRTracking", FormMethod.Get))
        {
          
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        @Html.ActionLink("Create New", "Create")
                    </h2>
                </div>
                <div class="col-sm-6">

                    <div class="input-group">
                        @*<input type="text" placeholder="Search" class="input-sm form-control"/>*@ 
                        @Html.TextBox("search", null, new { @class = "input-sm form-control" })<span class="input-group-btn">
                            <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary"/>
                        </span>
                    </div>
                </div>
            </div>

        <div class="ibox-content">
           
            <br />
            <table class="table  table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PEL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fullname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LicenseTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LicenseType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                   
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PEL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenseTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Code }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Code }) |

                        </td>
                    </tr>
                }

            </table>
        </div>
        }
    </div>
       
